{% set directories = hookable_metadata.context.directories %}
{% set medias = hookable_metadata.context.medias %}
{% set key = hookable_metadata.context.key %}
{% set current_key = hookable_metadata.context.current_key %}

<div class="tab-pane" id="tabs-grid-view">
    {% if directories|length > 0 %}
        <ul class="gallery-grid gallery-grid--folders mb-2">
            {% for directory in directories %}
                <li class="gallery-grid-item">
                    <a href="{{ path('joli_media_sylius_admin_explore', { key: directory }) }}" class="gallery-grid-item__link text-decoration-none">
                        <span class="gallery-grid-item__icon">
                            {{ ux_icon('tabler:folder', {class: 'mh-100'}) }}
                        </span>
                        <span class="gallery-grid-item__name">{{ directory|split('/')|last }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <ul class="gallery-grid gallery-grid--files">
        {% for media in medias -%}
            {% if media.isStored %}
                <li class="gallery-grid-item">
                    <a class="gallery-grid-item__link"
                       href="{{ path('joli_media_sylius_admin_show', {'key': media.path}) }}"
                    >
                        <span class="media-preview">
                            {{ include('@JoliMediaSyliusAdmin/_as_image.html.twig', { media: media, skipAutoDimensions: true, iconAttributes: { class: 'mh-100' } }) }}
                        </span>
                        <span class="gallery-grid-item__name">{{ media.filename }}</span>
                    </a>
                </li>
            {% endif %}
        {%- endfor %}
    </ul>
</div>
