{% set medias = hookable_metadata.context.medias %}
{% set directories = hookable_metadata.context.directories %}
{% set key = hookable_metadata.context.key %}
{% set current_key = hookable_metadata.context.current_key %}
{% import _self as self %}

<div class="page-body">
    <meta name="csrf-token" content="{{ csrf_token('media_rename') }}">
    <meta name="csrf-token-create" content="{{ csrf_token('media_create_directory') }}">
    <meta name="current-key" content="{{ current_key }}">
    <div class="container-xl">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Folders</h3>
                        <div class="ms-auto">
                            <button type="button" class="btn btn-sm btn-primary folder-create-btn" data-bs-toggle="tooltip" title="Create folder">
                                {{ ux_icon('tabler:folder-plus') }}
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <form class="folder-create-form d-none px-2 py-2" id="folder-create-form">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control folder-create-input" placeholder="New folder name">
                                <button type="submit" class="btn btn-primary">
                                    {{ ux_icon('tabler:check') }}
                                </button>
                                <button type="button" class="btn btn-secondary folder-create-cancel-btn">
                                    {{ ux_icon('tabler:x') }}
                                </button>
                            </div>
                        </form>
                        <ul class="nav nav-pills flex-column px-2 py-2" id="folder-tree">
                            <li class="nav-item">
                                <a href="{{ path('joli_media_sylius_admin_explore', { 'key': '' }) }}" class="nav-link {{ current_key is empty ? 'active' : '' }}">
                                    {{ ux_icon('ph:house-fill') }}
                                    Root
                                </a>
                            </li>
                            {% for directory in directories %}
                                <li class="nav-item folder-item" data-directory="{{ directory }}">
                                    <div class="nav-link d-flex align-items-center gap-2">
                                        <a href="{{ path('joli_media_sylius_admin_explore', { 'key': directory }) }}" class="flex-grow-1 {{ current_key == directory ? 'active' : '' }}">
                                            {{ ux_icon('ph:folder-fill') }}
                                            <span class="folder-name">{{ directory }}</span>
                                        </a>
                                        <button type="button" class="btn btn-sm btn-icon folder-edit-btn" data-bs-toggle="tooltip" title="Rename">
                                            {{ ux_icon('tabler:pencil') }}
                                        </button>
                                    </div>
                                    <form class="folder-rename-form d-none px-3 py-2">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control folder-rename-input" value="{{ directory }}">
                                            <button type="submit" class="btn btn-primary">
                                                {{ ux_icon('tabler:check') }}
                                            </button>
                                            <button type="button" class="btn btn-secondary folder-cancel-btn">
                                                {{ ux_icon('tabler:x') }}
                                            </button>
                                        </div>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
                            <li class="nav-item">
                                <a href="#tabs-list-view" class="nav-link active" data-bs-toggle="tab">List view</a>
                            </li>
                            <li class="nav-item">
                                <a href="#tabs-grid-view" class="nav-link" data-bs-toggle="tab">Grid view</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tabs-list-view">
                                {% hook 'grid' %}
                            </div>
                            <div class="tab-pane" id="tabs-grid-view">
                                <ul class="gallery-grid gallery-grid--files">
                                    {% for media in medias -%}
                                        {% if joli_media_admin_is_granted('SHOW', path: media.path) %}
                                            {{ self.media_grid_view(media, key, current_key) }}
                                        {% endif %}
                                    {%- endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% macro media_grid_view(media, key, current_key) %}
    <li class="gallery-grid-item">
        <a class="gallery-grid-item__link"
           href="{{ ea_url().setRoute('joli_media_easy_admin_show', { key: media.path }) }}"
           data-media-folder="{{ current_key }}"
           data-media-url="{{ media.path }}"
           data-media-full-url="{{ media.url }}"
           data-media-type="{{ media.fileType }}"
           data-media-template="{{ include('@JoliMediaEasyAdmin/_preview.html.twig', { className: 'media-preview' })|escape }}"
           data-media-original-template="{{ include('@JoliMediaEasyAdmin/_preview.html.twig', { variation: false })|escape }}"
        >
                                            <span class="media-preview">
                                                {{ include('@JoliMediaEasyAdmin/_as_image.html.twig', { skipAutoDimensions: true }) }}
                                            </span>
            <span class="gallery-grid-item__name">{{ media.filename }}</span>
        </a>
    </li>
{% endmacro %}
