{% set definition = hookable_metadata.context.resources.definition %}
{% set directories = hookable_metadata.context.directories %}

{% set key = hookable_metadata.context.key %}
{% set current_key = hookable_metadata.context.current_key %}
{% set parent_key = current_key is empty ? '' : (('/' in current_key) ? current_key|split('/')|slice(0, -1)|join('/') : '') %}

{% if not current_key == ''%}
<tr class="item position-relative">
    {% for field in definition.enabledFields|sylius_sort_by('position') %}
        <td>
            {% if field.name == 'image' %}
                <a href="{{ path('joli_media_sylius_admin_explore', { 'key': parent_key }) }}" class="nav-link text-decoration-none text-dark">
                    {{ ux_icon('mdi:arrow-left-bold') }}
                    Back
                </a>
            {% endif %}
        </td>
    {% endfor %}
    {% if definition.actionGroups.item is defined and definition.getEnabledActions('item')|length > 0 %}
        <td></td>
    {% endif %}
</tr>
{% endif %}
{% for directory in directories %}
    {% set path = path('joli_media_sylius_admin_explore', {'key': directory}) %}

    <tr class="item" data-directory="{{ directory }}" data-delete-directory-path="{{ path('joli_media_sylius_admin_delete_directory') }}">
        {% for field in definition.enabledFields|sylius_sort_by('position') %}
            <td {% if field.options.vars.td_class is defined %}  class="{{ field.options.vars.td_class }}"{% endif %}>
                {% if field.name == 'image' %}
                    {{ ux_icon('tabler:folder') }}
                {% elseif field.name == 'fileType' %}
                    <div class="badge bg-blue-lt">{{ 'Directory' }}</div>
                {% elseif field.name == 'path' %}
                    <a class="text-decoration-none" href="{{ path }}">
                        <span class="directory-name">{{ directory|joli_media_admin_basename }}</span>
                    </a>
                    <form class="directory-rename-form d-none">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control directory-rename-input" value="{{ directory|joli_media_admin_basename }}">
                            <button type="submit" class="btn btn-primary">
                                {{ ux_icon('tabler:check') }}
                            </button>
                            <button type="button" class="btn btn-secondary directory-rename-cancel-btn">
                                {{ ux_icon('tabler:x') }}
                            </button>
                        </div>
                    </form>
                {% endif %}
            </td>
        {% endfor %}
        {% if definition.actionGroups.item is defined and definition.getEnabledActions('item')|length > 0 %}
            <td>
                <div class="btn-group">
                    <a href="{{ path }}" class="btn btn-icon" data-bs-toggle="tooltip" title="{{ 'sylius.ui.show'|trans }}">
                        {{ ux_icon('tabler:eye') }}
                    </a>
                    <button type="button" class="btn btn-icon directory-rename-btn" data-component="directory-rename" data-bs-toggle="tooltip" title="{{ 'Rename'|trans }}">
                        {{ ux_icon('tabler:pencil') }}
                    </button>
                    <button type="button" class="btn btn-icon directory-delete-btn btn-danger" data-component="directory-delete" data-bs-toggle="tooltip" title="{{ 'Delete'|trans }}">
                        {{ ux_icon('tabler:trash-x') }}
                    </button>
                </div>
            </td>
        {% endif %}
    </tr>
{% endfor %}