{% import ['@SyliusBootstrapAdminUi/shared/helper/header.html.twig', '@SyliusAdmin/shared/helper/header.html.twig'] as header %}

{% set media = hookable_metadata.context.media %}

<div class="col-12 col-md-6" data-component="media-rename" data-media-key="{{ media.path }}">
    <div class="d-md-flex gap-2 align-items-center">
        <span class="media-name">{{ header.h1(media.fileName) }}</span>
        <form class="media-rename-form d-none" name="media-rename-form" action="{{ path('joli_media_sylius_admin_rename') }}" method="POST">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('media_rename') }}">
            <input type="hidden" name="oldPath" class="media-rename-old-path" value="{{ media.path }}">
            <input type="hidden" name="newPath" class="media-rename-new-path" value="">
            <div class="input-group">
                <input type="text" class="form-control media-rename-input" value="{{ media.fileName }}">
                <button type="submit" class="btn btn-primary">
                    {{ ux_icon('tabler:check') }}
                </button>
                <button type="button" class="btn btn-secondary media-rename-cancel-btn">
                    {{ ux_icon('tabler:x') }}
                </button>
            </div>
        </form>
    </div>
</div>
