{% trans_default_domain 'JoliMediaSyliusAdminBundle' %}

{% import ['@SyliusBootstrapAdminUi/shared/helper/field/boolean.html.twig', '@SyliusAdmin/shared/helper/field/boolean.html.twig'] as boolean %}

{% set config = hookable_metadata.context.config %}
{% set media = hookable_metadata.context.media %}

<div class="jm-show-panel">
    <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th data-column="name" class="header-for-name text-left" dir="ltr" style="width: 20%">{{ 'variation.label'|trans }}</th>
                {% if config.isVisible('show_variations_stored') %}
                    <th data-column="stored" class="header-for-stored text-left" dir="ltr">{{ 'variation.stored'|trans }}</th>
                {% endif %}
                <th data-column="file-size" class="header-for-file-size text-left" dir="ltr">{{ 'media.size.label_long'|trans }}</th>
                <th data-column="dimensions" class="header-for-dimensions text-left" dir="ltr">{{ 'media.dimensions'|trans }}</th>
                <th data-column="url" class="header-for-url text-left" dir="ltr">URL</th>
                <th data-column="actions" class="header-for-actions text-left" dir="ltr">{{ 'action.entity_actions'|trans }}</th>
            </tr>
            <tbody>
            {% for variation in media.variations %}
                {% if config.isVisible('show_variations_list_admin_variations') or not (variation.variation.name starts with 'joli-media-easy-admin' or variation.variation.name starts with 'joli-media-sonata-admin') %}
                    <tr>
                        <th data-column="name" data-label="name" class="text-left" dir="ltr">{{ variation.variation.name }}</th>
                        {% if config.isVisible('show_variations_stored') %}
                            <td data-column="stored" data-label="stored" class="text-left text-lowercase" dir="ltr">
                                {{ boolean.default(variation.isStored) }}
                            </td>
                        {% endif %}
                        <td data-column="file-size" data-label="file-size" class="text-left" dir="ltr">
                            {% if variation.isStored %}
                            {{ variation.fileSize|joli_media_admin_readable_filesize }}</td>
                    {% else %}
                        <span class="badge badge-secondary">N/A</span>
                        {% endif %}
                        </td>
                        <td data-column="dimensions" data-label="dimensions" class="text-left" dir="ltr">
                            {% if variation.isStored %}
                                {% set dimensions = variation.pixelDimensions %}
                                {% if dimensions is not null and dimensions.width is defined %}
                                    {{ dimensions.width }}x{{ dimensions.height }}
                                {% else %}
                                    <span class="badge badge-secondary">N/A</span>
                                {% endif %}
                            {% else %}
                                <span class="badge badge-secondary">N/A</span>
                            {% endif %}
                        </td>
                        <td data-column="url" data-label="url" class="text-left" dggir="ltr">
                            <a href="{{ variation.url }}" id="media-{{ variation.variation.name }}-url"><code class="long-text-break">{{ variation.url }}</code></a>
                        </td>
                        <td data-column="actions" data-label="actions" class="text-left" dir="ltr">
                            <div class="btn-group" role="group">
                            <a href="{{ variation.url }}"
                               class="btn btn-icon"
                               data-bs-toggle="tooltip"
                               data-bs-title="{{ 'action.copy'|trans }}"
                               data-clipboard-target="#media-{{ variation.variation.name }}-url"
                            >
                                {{ ux_icon('tabler:copy') }}
                            </a>

                            {% if config.isVisible('show_variations_action_regenerate') and joli_media_admin_is_granted('REGENERATE_VARIATION', path: media.path, variation: variation.variation.name) %}
                                <a href="{{ path('joli_media_sylius_admin_regenerate_variation', { key: media.path, variation: variation.variation.name }) }}"
                                   class="btn btn-icon"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="{{ 'action.regenerate'|trans }}"
                                >
                                    {{ ux_icon('tabler:refresh') }}
                                </a>
                            {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
</div>