{% extends base_layout_template %}
{% trans_default_domain 'JoliMediaSonataAdminBundle' %}

{% block content_header %}{% endblock %}

{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        {% if _breadcrumb is not empty or action is defined %}
            <ol class="nav navbar-top-links breadcrumb joli-media-breadcrumb">
                {% if _breadcrumb is empty %}
                    {% if action is defined %}
                        {{ render_breadcrumbs(admin, action) }}
                    {% endif %}
                {% else %}
                    {{ _breadcrumb|raw }}
                {% endif %}
            </ol>
        {% endif %}
    </div>
{% endblock sonata_breadcrumb %}

{% block breadcrumb -%}
    <li><a href="{{ path('sonata_admin_dashboard') }}"><i class="fa fa-home"></i></a></li>
{%- endblock %}

{% block add_media_button %}
    <a href="#" data-component="media-add" class="btn btn-primary navbar-btn">
        <span>
            <i class="fas fa-plus-circle"></i> {{ 'media.add'|trans }}
        </span>
    </a>
{% endblock %}

{% block choose_directory_button %}{% endblock %}

{% block delete_directory_button %}
    {% if current_key != '' and joli_media_admin_is_granted('DELETE_DIRECTORY', path: current_key) %}
        {{ form_start(delete_directory_form, { attr: { id: 'delete-directory-form', class: 'inline' } }) }}
            {{ form_widget(delete_directory_form) }}
        {{ form_end(delete_directory_form) }}

        <a
            href="#"
            data-component="folder-delete"
            data-confirm="{{ 'directory.delete.confirm'|trans }}"
            class="btn btn-danger navbar-btn"
        >
            <span>
                <i class="fas fa-trash"></i> {{ 'action.delete_directory'|trans }}
            </span>
        </a>
    {% endif %}
{% endblock %}

{% block rename_directory_button %}
    {% if current_key != '' and joli_media_admin_is_granted('RENAME_DIRECTORY', path: current_key) %}
        <a
            class="btn btn-default navbar-btn pr-0"
            data-component="folder-rename"
        >
            <i class="fas fa-edit"></i> {{ 'action.rename_directory'|trans }}
        </a>
    {% endif %}
{% endblock %}

{% block rename_directory_container %}
    <div class="sonata-ba-form rename-directory-container">
        {{ form_start(rename_directory_form, { action: path('joli_media_sonata_admin_rename_directory') }) }}
            {{ form_widget(rename_directory_form.to) }}
            {{ form_widget(rename_directory_form.from) }}
            {{ form_widget(rename_directory_form.submit) }}
        {{ form_end(rename_directory_form) }}
    </div>
{% endblock %}

{% block media_grid_view %}
    <li class="gallery-grid-item">
        <a class="gallery-grid-item__link" href="{{ path('joli_media_sonata_admin_show', { key: media.path }) }}">
            <span class="media-preview">
                {{ include('@JoliMediaSonataAdmin/_as_image.html.twig') }}
            </span>
            <span class="gallery-grid-item__name">{{ media.filename }}</span>
        </a>
    </li>
{% endblock %}

{% block media_list_view %}
    <tr>
        <td>
            <a href="{{ path('joli_media_sonata_admin_show', { key: media.path }) }}" class="gallery-list-item">
                <span class="gallery-list-item__preview">
                    {{ include('@JoliMediaSonataAdmin/_as_image.html.twig', { variation: 'joli_media_sonata_admin_small' }) }}
                </span>
                <span class="gallery-list-item__name">{{ media.filename }}</span>
            </a>
        </td>
        <td>
            <span class="label bg-purple">{{ media.fileType }}</span>
        </td>
        <td>
            {{ media.fileSize|joli_media_admin_readable_filesize }}
        </td>
        <td>
            {% set pixelDimensions = media.binary.pixelDimensions %}
            {% if pixelDimensions.width is defined %}
                {{ pixelDimensions.width }}x{{ pixelDimensions.height }}
            {% else %}
                &nbsp;
            {% endif %}
        </td>
    </tr>
{% endblock %}
